<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sua senha é</h1>
    <p>
    <%= @account.password %><br>
    </p>
  </body>
</html>

