<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo </h1>
    <p>
    <%= @account.name %><br>
    </p>
  </body>
</html>
